@*@model Garage3.Models.Vehicle*@
@model RegisterVehicleViewModel
@*@inject IVehicleTypeSelectService vehicleTypeSelect;*@
@{
    ViewData["Title"] = "Change";
}

<h1>Change</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Change">
            @*<input asp-for="VehicleId" type="hidden" />*@
            <input asp-for="VehicleTypeId" type="hidden" />
            <input asp-for="OwnerId" type="hidden" />
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" readonly="@(true)" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleType" class="control-label typeLabel">Type  </label>
                <select asp-for="VehicleTypeId" asp-items="Model.VehicleTypes" class="form-control">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="VehicleTypeId" class="text-danger"></span>
                @*<select asp-for="VehicleTypeId" class="form-control" asp-items="@await vehicleTypeSelect.GetVehicleTypesAsync()">
            <option selected="selected" value="">Please select</option>
        </select>*@

            </div>
            <div class="form-group">
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VehicleModel" class="control-label"></label>
                <input asp-for="VehicleModel" class="form-control" />
                <span asp-validation-for="VehicleModel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <input type="submit" id="Change" value="Change" class="btn btn-primary" />
                </div>
        </form>
        @section Scripts{
            @{ <partial name="_ValidationScriptsPartial" />}
        }

    </div>
</div>




